{
  "Login": "",
  "Password": "",
  "AdvMessageReceivers": [
    "STEAM_0:1:2345678"
  ],
  "WatchedSite": "",
  "WantedText": "",
  "Interval": 15.00,
  "BasicCommands": {
    "!cmd1": "Response1",
    "!cmd2": "Response2"
  },
  "WelcomeMessage": "",
  "CommandNotFound": ""
}
